In [1]:
x = 100
print(x)

100

In [2]:
#### --- Introduction to python #####
#Print statements

print("Hey Team - we are learning GenAI & We are Happy!")

Hey Team - we are learning GenAI & We are Happy!

In [3]:
# System info

import sys # its library to get system info
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.9.6 (default, Mar 12 2025, 20:22:46)
[Clang 17.0.0 (clang-1700.0.13.3)]
Version info.
sys.version_info(major=3, minor=9, micro=6, releaselevel='final', serial=0)

In [4]:
# Variables and Data Types
 
x = 100 # Integer type variable
y = 200.5 # Float type variable. 

z = x + y # Addition operation
print("The value of z is:", z)

The value of z is: 300.5

In [5]:
# Varibale
x = 'Student1' # String type variable
print(x)

Student1

In [6]:
# Type of variable
x = 'Student1' # String type variable
print(type(x))   #type function to get the type of variable

<class 'str'>

In [7]:
#casting values 
x = 100 # Integer type variable
y = float(x) #casting integer to float
print(y)
print(type(y))

100.0
<class 'float'>

In [8]:
# Multiple values assignment in a single line

x, y, z = 10, 20.5, 'GenAI'
print(x)
print(y)
print(z)

10
20.5
GenAI

In [9]:
x = y = z = "Good Morning"
print(x)
print(y)
print(z)

Good Morning
Good Morning
Good Morning

In [11]:
# Multple values 
# Sample list 
students = ["Student1", "Student2", "Student3"]
x, y, z = students
print(x)
print(y)
print(z)

Student1
Student2
Student3

In [12]:
# String values assignment & contactenation
x = "Students in our colleges"
y = "they are studying GenAI"
z = x + " " + y
print(z)

Students in our collges they are studying GenAI

In [13]:
# Output variables in single print statement
first_name = "John"
last_name = "Doe"
age = 25
print("First Name:", first_name, ", Last Name:", last_name, ", Age:", age)

First Name: John , Last Name: Doe , Age: 25

In [16]:
# Output variables using f-string (formatted string literals)
first_name = "John"
last_name = "Doe"
age = 25
print(f"First Name: {first_name},  Last Name: {last_name}, Age: {age}") #f strings statements are faster than normal print statements

First Name: John, Last Name: Doe, Age: 25

In [ ]:
# PYTHON MINI PROJECT 
# Simple Calculator
# Function to add two numbers
def add(x, y):
    return x + y
   
# Function to subtract two numbers
def subtract(x, y):
    return x - y
# Function to multiply two numbers
def multiply(x, y):
    return x * y
# Function to divide two numbers
def divide(x, y):
    return x / y      

print(add(10, 5))

In [22]:
# Creating sample function & calling it 

x = "We are learning GenAI with Philips" # x is global variable 
def display_funct():
    print("Hey Team",","+ x)

display_funct()

Hey Team ,We are learning GenAI with Philips

In [23]:
display_funct()

Hey Team ,We are learning GenAI with Philips

In [25]:
# Python Numbers 
# Integers, Floats, Complex Numbers

x = 1 # int

y = 2.5 # float

z = 1j # complex number

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1
2.5
1j
<class 'int'>
<class 'float'>
<class 'complex'>

In [26]:
# Integer data type 
x = 200
y = -30000000
z = -5654327189999
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [28]:
# Float data type
x = 20.5
y = -35.67
z = 3.4028235e+38 #
a = 9.10938356e-31
b = 10e4    
c = -5.67e-13
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [31]:
#List data type - it is mutable (can be changed)
studentslist     = ["Student1", 25, "Student3", "Student4"]
print(studentslist)
print(type(studentslist))

['Student1', 25, 'Student3', 'Student4']
<class 'list'>

In [32]:
# Python tuple data type - it is immutable (cannot be changed)
studentstuple = ("Student1", "Student2", "Student3", "Student4")
print(studentstuple)
print(type(studentstuple))

('Student1', 'Student2', 'Student3', 'Student4')
<class 'tuple'>

In [38]:
# Dictionary data type - it is mutable (can be changed)
#Dictionary is key-value pair
#Dictionary use curly braces {}

studentdict = {"Name": "Student1",
               "Age": 22,
               "Course": "GenAI"
              }
print(studentdict)
print(type(studentdict))

{'Name': 'Student1', 'Age': 22, 'Course': 'GenAI'}
<class 'dict'>

In [39]:
# String with Array loops - 
studentnames = ["Alice", "Bob", "Charlie", "David"]
for name in studentnames:  # name is iterator variable
    print(name)

Alice
Bob
Charlie
David

In [41]:
# tuple & for loop 
studentstuple = ("Student1", "Student2", "Student3", "Student4")
for studentname in studentstuple:
    print(studentname)

Student1
Student2
Student3
Student4

In [42]:
# Dictionary and print with for loop
studentdict = {
    "Name": "Student1",
    "Age": 22,
    "Course": "GenAI"
}   
for key in studentdict:
    print(key, ":", studentdict[key])   

# --- IGNORE ---

Name : Student1
Age : 22
Course : GenAI

In [43]:
# string with Arrays - loop
for x in "Hey Team - we are learning GenAI & We are Happy!":
    print(x)

H
e
y

T
e
a
m

-

w
e

a
r
e

l
e
a
r
n
i
n
g

G
e
n
A
I

&

W
e

a
r
e

H
a
p
p
y
!

In [46]:
# string with Arrays - loop
for x in "Hey Team - we are learning GenAI & We are Happy!":
    print(x)

# """ """ quote strings
"""This is a multi-line string.
It can span multiple lines.
You can include line breaks
and indentation as needed."""

print("""This is a multi-line string.
It can span multiple lines.
You can include line breaks
and indentation as needed.""")

H
e
y

T
e
a
m

-

w
e

a
r
e

l
e
a
r
n
i
n
g

G
e
n
A
I

&

W
e

a
r
e

H
a
p
p
y
!
This is a multi-line string.
It can span multiple lines.
You can include line breaks
and indentation as needed.

In [47]:
# Bool operations
a = True
b = False
print(type(a))
print(type(b))
print(a and b)  # Logical AND
print(a or b)   # Logical OR
print(not a)    # Logical NOT
print(a != b)   # Logical XOR

<class 'bool'>
<class 'bool'>
False
True
False
True

In [53]:
# Mini Project - simple calculator with keyboard input 
# Get input from user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")

# Perrform calculation based on operation
if operation == '+':
    result = num1 + num2
elif operation == '-':
    result = num1 - num2
elif operation == '*':
    result = num1 * num2
elif operation == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error: Division by zero."
else:
    result = "Error: Invalid operation."
# Display result
print("The result is:", result)

The result is: Error: Division by zero.

In [61]:
# Mini Project - Even or Odd number
# Get input from user with validation
try:
    num = int(input("Enter an integer: "))
    # Check if the number is even or odd
    if num % 2 == 0:
        print(f"{num} is an even number.")
    else:
        print(f"{num} is an odd number.")
except ValueError:   #catching error for invalid input
    print("Error: Please enter a valid integer (no decimals or letters).")

Error: Please enter a valid integer (no decimals or letters).

In [63]:
# Mini - Project to do list 
todo = [] # Blank List - where we store our tasks

#Create add task function
def add_task(task):
    todo.append(task)  # append() function to add task to list
    print(f'Task "{task}" added to the to-do list.')

#Create show_task() function
def show_tasks():     
    if not todo:          # checking if list is empty
        print("To-do list is empty.") 
    else:
        print("To-do List:") 
        for idx, task in enumerate(todo, start=1): #enumerate function to get index and task
            print(f"{idx}. {task}")

# Sample usage
add_task("Complete GenAI assignment")
add_task("Attend team meeting")
add_task("Review project proposal")
add_task("Plan weekend trip")
show_tasks()

Task "Complete GenAI assignment" added to the to-do list.
Task "Attend team meeting" added to the to-do list.
Task "Review project proposal" added to the to-do list.
Task "Plan weekend trip" added to the to-do list.
To-do List:
1. Complete GenAI assignment
2. Attend team meeting
3. Review project proposal
4. Plan weekend trip

In [65]:
# Mini Project - Area of the circle 
from math import pi  # importing pi value from math library
r = float(input("Enter the radius of the circle: "))  # taking radius input from user 

area = pi * r**2  # Area calculation formula 
print(f"The area of the circle with radius {r} is: {area}")
print(pi)

The area of the circle with radius 100.0 is: 31415.926535897932
3.141592653589793

In [66]:
# Mini _ project - Calender 
import calendar
y = int(input("Enter year: ") )
m = int(input("Enter month: ") )
print(calendar.month(y, m))

   November 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [ ]:
# Import datasets and wotking with dataframes

import pandas as pd    #pandas librray used for  data manipulation and analysis

# Path to the CSV file
file_path = 'data/sample_data.csv'

In [67]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/shashikanthb/Library/Python/3.9/lib/python/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /Users/shashikanthb/Library/Python/3.9/lib/python/site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/shashikanthb/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/shashikanthb/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/shashikanthb/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Requirement already satisfied: pandas in /Users/shashikanthb/Library/Python/3.9/lib/python/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /Users/shashikanthb/Library/Python/3.9/lib/python/site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/shashikanthb/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/shashikanthb/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/shashikanthb/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

In [71]:
# Import datasets and wotking with dataframes

import pandas as pd    #pandas librray used for  data manipulation and analysis

# Path to the CSV file
file_path = pd.read_csv('/Users/shashikanthb/Desktop/GenAI_Philips_Nov_2025/Largest_Companies.csv')

#Display the file content 

print(file_path.head())

   Rank                Name                    Industry  \
0     1             Walmart                      Retail
1     2              Amazon  Retail and Cloud Computing
2     3         Exxon Mobil          Petroleum industry
3     4               Apple        Electronics industry
4     5  UnitedHealth Group                  Healthcare

  Revenue (USD millions) Revenue growth  Employees           Headquarters
0                611,289           6.7%  2,100,000  Bentonville, Arkansas
1                513,983           9.4%  1,540,000    Seattle, Washington
2                413,680          44.8%     62,000          Spring, Texas
3                394,328           7.8%    164,000  Cupertino, California
4                324,162          12.7%    400,000  Minnetonka, Minnesota

In [72]:
# dataframe operations 
import pandas as pd    #pandas librray used for  data manipulation and analysis

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data) # DataFrame() function to create dataframe
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [76]:
# Josn file 
import pandas as pd
data2 = pd.read_json('/Users/shashikanthb/Desktop/GenAI_Philips_Nov_2025/brazil_geo.json')
print(data2)
df = pd.DataFrame(data2)
print(df.head())

                 type                                           features
0   FeatureCollection  {'type': 'Feature', 'id': 'AC', 'properties': ...
1   FeatureCollection  {'type': 'Feature', 'id': 'AL', 'properties': ...
2   FeatureCollection  {'type': 'Feature', 'id': 'AP', 'properties': ...
3   FeatureCollection  {'type': 'Feature', 'id': 'AM', 'properties': ...
4   FeatureCollection  {'type': 'Feature', 'id': 'BA', 'properties': ...
5   FeatureCollection  {'type': 'Feature', 'id': 'CE', 'properties': ...
6   FeatureCollection  {'type': 'Feature', 'id': 'DF', 'properties': ...
7   FeatureCollection  {'type': 'Feature', 'id': 'ES', 'properties': ...
8   FeatureCollection  {'type': 'Feature', 'id': 'GO', 'properties': ...
9   FeatureCollection  {'type': 'Feature', 'id': 'MA', 'properties': ...
10  FeatureCollection  {'type': 'Feature', 'id': 'MT', 'properties': ...
11  FeatureCollection  {'type': 'Feature', 'id': 'MS', 'properties': ...
12  FeatureCollection  {'type': 'Feature', 'id': 'MG', 'properties': ...
13  FeatureCollection  {'type': 'Feature', 'id': 'PA', 'properties': ...
14  FeatureCollection  {'type': 'Feature', 'id': 'PB', 'properties': ...
15  FeatureCollection  {'type': 'Feature', 'id': 'PR', 'properties': ...
16  FeatureCollection  {'type': 'Feature', 'id': 'PE', 'properties': ...
17  FeatureCollection  {'type': 'Feature', 'id': 'PI', 'properties': ...
18  FeatureCollection  {'type': 'Feature', 'id': 'RJ', 'properties': ...
19  FeatureCollection  {'type': 'Feature', 'id': 'RN', 'properties': ...
20  FeatureCollection  {'type': 'Feature', 'id': 'RS', 'properties': ...
21  FeatureCollection  {'type': 'Feature', 'id': 'RO', 'properties': ...
22  FeatureCollection  {'type': 'Feature', 'id': 'RR', 'properties': ...
23  FeatureCollection  {'type': 'Feature', 'id': 'SC', 'properties': ...
24  FeatureCollection  {'type': 'Feature', 'id': 'SP', 'properties': ...
25  FeatureCollection  {'type': 'Feature', 'id': 'SE', 'properties': ...
26  FeatureCollection  {'type': 'Feature', 'id': 'TO', 'properties': ...
                type                                           features
0  FeatureCollection  {'type': 'Feature', 'id': 'AC', 'properties': ...
1  FeatureCollection  {'type': 'Feature', 'id': 'AL', 'properties': ...
2  FeatureCollection  {'type': 'Feature', 'id': 'AP', 'properties': ...
3  FeatureCollection  {'type': 'Feature', 'id': 'AM', 'properties': ...
4  FeatureCollection  {'type': 'Feature', 'id': 'BA', 'properties': ...

In [77]:
# dataframe Merging 

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
  })
print(df1)

df2 = pd.DataFrame({
    'salary': [70000, 80000, 90000],
    'ID': [1, 2, 3]
})
print(df2)
merged_df = pd.merge(df1, df2, on='ID')  # merging two dataframes on 'ID' column 
print(merged_df)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
   salary  ID
0   70000   1
1   80000   2
2   90000   3
   ID     Name  salary
0   1    Alice   70000
1   2      Bob   80000
2   3  Charlie   90000